<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<style>
			* {
				box-sizing: border-box;
				margin: 0;
				padding: 0;
				font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
			}

			.form-container {
				display: flex;
				align-items: center;
				justify-content: center;
				min-height: 100vh;
				padding: 20px;
				background-color: rgb(226, 226, 226);
			}
			.form-container > form {
				position: relative;
				display: flex;
				flex-direction: column;
				gap: 10px;
				box-shadow: 2px 2px 5px gray;
				padding: 20px;
				border-radius: 20px;
				background: white;
			}
			label {
				font-size: small;
			}
			input {
				border-radius: 5px;
				border: 2px solid rgb(193, 193, 206);
				font-size: small;
				display: block;
				width: 100%;
				padding: 4px;
				margin-top: 2px;
				&:focus {
					outline: 1px solid rgb(187, 117, 228);
				}
			}

			button {
				padding: 10px;
				border: none;
				border-radius: 5px;
				color: aliceblue;
				width: 100%;
				background: rgb(114, 21, 151);
				&:active {
					transform: scaleY(0.9);
				}
			}
			span {
				margin: auto;
				font-size: small;
				color: rgb(167, 162, 162);
			}
			.error {
				display: none;
				position: absolute;
				bottom: 105%;
				text-align: center;
				left: 50%;
				transform: translateX(-50%);
				color: rgb(185, 53, 53);
				padding: 5px 10px;
				border-radius: 5px;
				background-color: rgb(255, 172, 172);
			}
		</style>
	</head>
	<body>
		<div class="form-container">
			<form onsubmit="handleSubmit(event)">
				<h1>Create an account</h1>
				<div>
					<label for="username">Username:</label>
					<input
						id="username"
						name="username"
						onchange="handleChange(event)"
						type="text"
						placeholder="username"
					/>
				</div>
				<div>
					<label for="email">Email:</label>
					<input
						id="email"
						name="email"
						onchange="handleChange(event)"
						type="text"
						placeholder="email"
					/>
				</div>
				<div>
					<label name="password">Password:</label>
					<input
						id="password"
						name="password"
						onchange="handleChange(event)"
						type="text"
						placeholder="password"
					/>
				</div>
				<button type="submit">Sign Up</button>
				<span
					>Already have an account?
					<a href="https://url-shortner-evbp.onrender.com/signin"
						>Sign in</a
					></span
				>
				<p class="error"></p>
			</form>
		</div>
		<script>
			function isError() {
				const email = document.querySelector("#email");
				const password = document.querySelector("#password");
				const username = document.querySelector("#username");

				if (!username.value || !email.value || !password.value) {
					return "All fields required";
				}
				if (username.value.length < 6) {
					return "Username must be at lest 6 characters";
				}
				if (password.value.length < 6) {
					return "Password must be at lest 6 characters";
				}
				return "";
			}

			function showError(message) {
				document.querySelector(".error").innerHTML = message;
				document.querySelector(".error").style.display = "block";
			}

			let formData = { username: "", email: "", password: "" };
			const handleChange = (e) => {
				formData = { ...formData, [e.target.name]: e.target.value };
			};
			const handleSubmit = async (e) => {
				e.preventDefault();
				try {
					if (isError()) {
						throw new Error(isError());
					}
					const res = await fetch(
						`https://url-shortner-evbp.onrender.com/api/auth/signup`,
						{
							method: "POST",
							headers: {
								"Content-Type": "application/json",
							},
							body: JSON.stringify(formData),
						}
					);
					if (res.ok) {
						window.location = "https://url-shortner-evbp.onrender.com/signin";
					}
				} catch (error) {
					showError(error);
				}
			};
		</script>
	</body>
</html>
